/* Add some style to the elements */

body {
   font-family: Arial, sans-serif;
   background-color: #006400;
   margin: 0;
}

h1 {
   color: #006400;;
   text-align: left;
}

p {
   font-size: 16px;
   line-height: 1.5;
   margin: 0 20px;
}

.check {
   background-color: #006400;;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   display: inline-block;
   margin: 20px 0;
   cursor: pointer;
}

.check:hover {
   background-color: #006400;;
}
.main-box {
   position: relative;
   width: 700px; /* Updated width */
   height: 70px; /* Updated height */
   background-color: #000000; /* Dark Green */
   border: 2px solid #006300; /* Light Green */
   margin: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px; /* Added padding for better spacing */
}

.digit-container {
   display: flex;
}

.digit-box {
   width: 35px; /* Updated width */
   height: 45px; /* Updated height */
   background-color: #000000; /* Dark Green */
   border: 2px solid #006300; /* Light Green */
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.digit-input {
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
   background-color: transparent;
   color: white;
   font-size: 18px; /* Set font size */
   text-align: center;
}

.right-text {
   color: white;
   font-size: 18px; /* Increased font size */
   text-transform: uppercase; /* Set text to uppercase */
   width: 50%; /* Half of the width */
}